/* Header */
#header {}
.header-top {
	background-color: #f7f7f7;
	border-bottom: 1px solid #ededed;
	padding: 5px 0;
}
.header-top a {
	color: #868686;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.02em;
}
.header-top a:hover {
	color: #242424;
	text-decoration: none;
}
.header-top-left {
	margin-top: 6px;
	margin-bottom: 6px;
	float: left;
}
.header-top-left li {
	float: left;
	line-height: 14px;
	font-size: 11px;
}
.header-top-left li + li {
	border-left: 1px solid rgba(0,0,0,.2);
}
/* frm-search */
.frm-search {
	background-color: #fff;
	border: 1px solid #ededed;
	padding: 2px 0;
	float: right;
	max-width: 250px;
}
.frm-search .form-control,
.frm-search .btn {
	border: 0;
	border-radius: 0;
	box-shadow: none;
	color: #141414;
	height: 20px;
	padding-top: 0;
	padding-bottom: 0;
}
.frm-search .btn {
	border-left: 1px solid #ededed;
	padding-left: 7px;
	padding-right: 7px;
}
.frm-search .btn .fa {
	margin-right: 0;
}
.frm-search .btn:hover {
	background: transparent;
	opacity: 0.7;
	filter: alpha(opacity=70);
}
.logo {
	display: block;
	margin: 15px 0;
}
.slogan {
	font-weight: 700;
	line-height: 40px;
	min-height: 40px;
	margin: 41px 0 49px;
	color: #337ab7;
	text-shadow: 0 0 10px rgba(51,122,183,.4);
}
.header-bottom .ads {
	margin: 15px 0;
	text-align: right;
}
.navbar-primary {
	background-color: #337ab7;
	border: 0;
	border-radius: 0;
	min-height: 0;
}
.navbar-primary .navbar-toggle {
	border-color: #fff;
	padding: 7px 5px;
	margin-top: 7px;
	margin-bottom: 7px;
}
.navbar-primary .navbar-toggle .icon-bar {
	background-color: #fff;
}
.navbar-primary .navbar-brand {
	color: #fff;
	height: 44px;
	font-size: 25px;
}
.navbar-primary .navbar-nav {
	margin-right: -10px;
	margin-left: -10px;
	padding: 8px 0 7px;
}
.navbar-primary .navbar-nav li a {
	background-color: transparent;
	color: #fff;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 1px 13px 0px;
}
.navbar-primary .navbar-nav > li:last-child > a {
	padding-right: 0;
}
.navbar-primary .navbar-nav > li > .dropdown-menu {
	border: 0;
	background-color: #337ab7;
	padding: 0;
	margin: 0;
	top: 28px;
}
.navbar-primary .navbar-nav > li.open > a,
.navbar-primary .navbar-nav > li > a:hover {
	background: transparent;
	color: #fff;
}
.navbar-primary .dropdown-menu > li > a {
	color: rgba(255,255,255,.7);
	padding: 10px;
}
.navbar-primary .dropdown-menu > li > a:hover,
.navbar-primary .dropdown-menu > li > a:focus {
	color: #fff;
}
.navbar-primary .navbar-nav > li:last-child .dropdown-menu {
	left: auto;
	right: 0;
}
#main {
	margin-bottom: 15px;
}

#footer {
	background-color: #141414;
	color: #fff;
}
#footer a {
	color: #fff;
}
#footer h3 {
	text-transform: uppercase;
	margin: 0 0 15px;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.05em;
}
#footer h4 {
	font-size: 14px;
	font-weight: 700;
	line-height: 18px;
	margin: 0 0 5px;
}
.footer-top {
	padding: 20px 0;
}
.footer-middle {
	padding: 20px 0;
	background-color: rgba(255,255,255,.1);
}
.footer-middle address {}
.footer-bottom {
	padding-top: 10px;
	background-color: rgba(255,255,255,.15);
	color: rgba(255,255,255,.7);
}
/* homepage style */
.section-featured {
	position: relative;
	margin-bottom: 15px;
}
.section-featured .section-header {
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;
	margin: 0;
	border: 0;
}
.section-featured .section-title {
	border: 0;
	margin: 0;
	padding: 10px 15px;
	color: #fff;
	background-color: #337ab7;
}
.section-featured .article-title {
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 10px;
}
.section-featured .article-label {
	font-size: 12px;
}
.section-featured .article-brief {
	font-size: 14px;
	line-height: 22px;
}
.section-trending {
	background-color: #ddd;
	margin-bottom: 15px;
}
.section-trending ul {
	margin-bottom: 0;
}
.section-trending .section-header {
	border: 0;
	margin-bottom: 0;
}
.section-trending .section-title {
	border: 0;
	margin: 0;
	padding: 10px 15px;
	color: #fff;
	background-color: #ec971f;
	display: block;
}
.section-trending .section-body {
	padding: 10px;
}
.section-trending li + li {
	border-top: 1px solid #eee;
	padding-top: 9px;
	margin-top: 7px;
}
.section-trending .article {
	margin-bottom: 0;
}
.section-trending li:first-child .article-title {
	font-size: 14px;
	line-height: 18px;
}

.section-images {
	position: relative;
}
.section-images .section-header {
	border: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
}
.section-images .section-title {
	background-color: #ec971f;
	color: #fff;
	padding: 10px 15px;
	border: 0;
}
.section-images .article-label {
	font-size: 12px;
	color: #ddd;
}
.section-images .owl-nav div {
	background-color: #ec971f;
}
.government-gazette {}
.government-gazette .post_results {
	max-height: 140px;
	overflow-x: hidden;
	overflow-y: auto; 
}
.government-gazette .post_results::-webkit-scrollbar {
    width: 5px;
}
.government-gazette .post_results::-webkit-scrollbar-thumb {
  background-color: rgba(51,122,183,.5);
}
.government-gazette .loading_rss {
	text-align: center;
}
.government-gazette ul {
	padding-left: 0;
	margin-bottom: 0;
	margin-top: -3px;
}
.government-gazette li {
	list-style: none;
	font-size: 13px;
	line-height: 25px;
}
.government-gazette li:before {
	content: "\f105";
	font: normal normal normal 14px/1 FontAwesome;
	padding-right: 5px;
}

.section-stamps {
	margin-bottom: 15px;
}
.section-stamps .inner {
	margin: 0 -5px;
}
.section-stamps figure {
	float: left;
	width: 50%;
	padding: 0 5px;
	margin-bottom: 10px;
}

.section-enterprise {}
.section-enterprise .nav-tabs {
	border-bottom-color: #337ab7;
}
.section-enterprise .nav-tabs a {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #aaa;
}
.section-enterprise .nav-tabs li.active a {
	color: #337ab7;
	border-color: #337ab7;
	border-bottom-color: transparent;
}
.section-enterprise .tab-pane {
	border: 1px solid #337ab7;
	border-top: 0;
	padding: 10px 10px 0;
	border-radius: 0 0 5px 5px;
}
.section-enterprise .list-unstyled {}
.section-enterprise .list-unstyled li:after {
	content: "";
	display: table;
	clear: both;
}
.section-enterprise .list-unstyled figure {
	width: 70px;
	float: left;
	margin-right: 10px;
}
.section-enterprise .list-unstyled h4 {
	overflow: hidden;
}
.panel-warning {
	border-color: #d58512;
}
.panel-warning > .panel-heading {
	background-color: #ec971f;
	color: #fff;
}