/* Base */
body {
	font-family: arial, sans-serif;
	font-size: 12px;
	line-height: 20px;
}

img {
	max-width: 100%;
}

/* section */
.section-header {
	border-bottom: 2px solid #eee;
	margin-bottom: 15px;
}
.section-header .section-title {
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	display: inline-block;
	margin: 0 0 -2px;
	padding: 0 5px 10px 0;
	border-bottom: 2px solid #337ab7;
	color: #337ab7;
}

/* article */
.article {
	margin-bottom: 15px;
}
.article-cover {
	overflow: hidden;
	margin-bottom: 10px;
	position: relative;
	text-align: center;
}
.article-cover .article-header {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.5);
	padding: 5px 10px;
	text-align: left;
}
.article-cover .article-header .article-title a {
	color: #fff;
}
.article-title {
	font-weight: 600;
	font-size: 12px;
	line-height: 16px;
	margin: 0;
}
.article-label {
	color: #aaa;
	font-size: 11px;
}
.article-label span {
	margin-left: 10px;
}
.article-label + .article-brief {
	margin-top: 10px;
}
.fa {
	margin-right: 5px;
}

/* Owl carousel */
.owl-nav div {
	text-align: center;
	line-height: 40px;
	width: 40px;
	height: 40px;
	background-color: #337ab7;
	color: #fff;
	position: absolute;
	top: 0;
}
.owl-nav div:hover {
	background-color: #ccc;
}
.owl-nav div .fa {
	font-size: 18px;
	margin-right: 0;
}
.owl-prev { right: 41px; }
.owl-next { right: 0; }
/* advertisement */
.ads {
	text-align: center;
	margin-bottom: 15px;
}
.panel-title {
	font-weight: 700;
}

.panel .article-primary .article-title {
	font-size: 14px;
	line-height: 20px;
	max-height: 60px;
	overflow: hidden;
	margin-bottom: 3px;
}
.panel .article-primary .article-cover {
	float: left;
	width: 50%;
	padding-right: 10px;
	margin-bottom: 0;
}
.panel .article-secondary .article {
	border-top: 1px solid #eee;
	padding-top: 5px;
	margin-bottom: 5px;
}
.panel .article-secondary .article:last-child {
	margin-bottom: 0;
}
.panel .article-secondary .article:after {
	content: '';
	display: table;
	clear: both;
}
.panel .article-secondary .article-title {
	max-height: 32px;
	overflow: hidden;
}
.panel .article-secondary .article-cover {
	width: 25%;
	float: left;
	margin-right: 10px;
	margin-bottom: 0;
}
.panel-heading {
	position: relative;
}
.panel-heading .view-more {
	float: right;
	color: #fff;
	margin-top: -20px;
}