@media (min-width: 768px) {
	.navbar-primary .navbar-brand {
		height: auto;
		padding: 8px 22px 8px 10px;
		font-size: 18px;
	}
	.navbar-primary .navbar-nav > li {
		border-left: 1px solid rgba(255,255,255,.5);
	}
	.article-cover img {
		-webkit-transition: all 0.5s ease-in;
		-o-transition: all 0.5s ease-in;
		transition: all 0.5s ease-in;
	}
	.article-cover:hover img {
		-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-o-transform: scale(1.1);
		transform: scale(1.1);
	}
	.section-images .article-title {
		font-size: 16px;
		line-height: 24px;
	}
	.panel .article-leading {
		float: left;
		width: 50%;
		border-right: 1px solid #eee;
		padding-right: 10px;
		margin-bottom: 0;
	}
	.panel .article-leading .article-title {
		font-size: 16px;
		line-height: 22px;
	}
	.panel .article-primary {
		float: right;
		width: 50%;
		padding-left: 10px;
		margin-bottom: 10px;
	}
	.panel .article-secondary {
		float: right;
		width: 50%;
		padding-left: 10px;
	}
	.panel .article-secondary .article:first-child {
		padding-top: 15px;
	}
}
@media (min-width: 992px) {
	.main-left {
		width: 660px;
	}
	.main-right {
		width: 320px;
	}
}

@media (max-width: 767px) {
	.header-top-left {
		margin-top: 0;
		width: 100%;
	}
	.logo {
		margin: 10px 0;
		text-align: center;
	}
	.logo img { max-height: 70px; }
	.slogan {
		margin: 0 0 10px;
		font-size: 25px;
		line-height: 25px;
		min-height: 25px;
		text-align: center;
	}
	.header-bottom .ads { margin: 0 0 10px; }
	.frm-search {
		max-width: 100%;
	}
	.navbar-primary .dropdown-toggle {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 105;
		width: 30px;
		height: 40px;
		text-align: center;
	}
	.navbar-primary .navbar-nav {
		margin: 0;
		padding: 0;
	}
	.navbar-primary .navbar-nav li > a {
		padding: 10px 0;
	}
	.navbar-primary .navbar-nav .open .dropdown-menu > li > a,
	.navbar-primary .navbar-nav .open .dropdown-menu .dropdown-header {
		padding-left: 10px;
	}
	.article {
		margin-bottom: 10px;
	}
	.section-featured {
		border-bottom: 1px solid #eee;
		margin-bottom: 15px;
	}
	.section-trending .article-label time {
		display: inline-block;
		margin-right: 10px;
	}
	.panel .article-leading {
		padding-bottom: 5px;
		border-bottom: 1px solid #eee;
	}
	.footer-bottom p {
		text-align: center;
	}
}